<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D3-GDP-Project</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="d3_gdp/style.css">
</head>
<body>
    <nav>
        <h2>GDP Dashboard</h2>
        <p>
            Explore GDP by year.
            Current year: <span id='year-val'></span>
            <input id='year' type="range" step="1">
        </p>
        <p>Choose Series
            <input type="radio" name="data-type" id="" value="GDP in current prices (millions of US dollars)" checked>
            <label for="">GDP in Current Price</label>
            <input type="radio" name="data-type" id="" value="GDP per capita (US dollars)">
            <label for="">GDP Per Capita</label>
        </p>
        <p>Click on a country to see its trends by year.</p>
    </nav>
    <section class="container">
        <div class="chart-container" id="map-container">
            <svg
                version="1.1"
                baseProfile="full"
                xmlns = "http://www.w3.org/2000/svg"
                id="map"
            >
            </svg>
        </div>
        <div class="char-container right">
            <svg
            version="1.1"
            baseProfile="full"
            xmlns = "http://www.w3.org/2000/svg"
            id="pie"
            >
            </svg>
            <svg
                version="1.1"
                baseProfile="full"
                xmlns = "http://www.w3.org/2000/svg"
                id="bar"
            >
            </svg>
        </div>
        <div class="tooltip"></div>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://unpkg.com/topojson@3"></script>
        <script src="/d3_gdp/app.js"></script>
        <script src="/d3_gdp/map.js"> </script>
        <script src="/d3_gdp/pie.js"> </script>
    </section>
</body>
</html>